{% extends "base.html" %}
{% block content %}
<div class="container">
    <div>
        Here are all of the detected packets.
    </div>
    {% if mac is not none or ssid is not none %}
    <div>
        To clear filters, please click <a href="?">here</a>.
    </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped">
        <tr>
            <th class='packet_field ssid'>SSID</th>
            <th class='packet_field mac'>MAC</th>
            <th class='packet_field time'>Time Recorded</th>
            <th class='packet_field signal'>Signal Strength</th>
        </tr>
        {% for packet in packets %}
        <tr>
            <td class='packet_field ssid'><a href="?ssid={{ packet.ssid }}{% if mac is not none %}&mac={{mac}}{% endif %}">{{ packet.ssid }}</a></td>
            <td class='packet_field mac'><a href="?mac={{ packet.mac }}{% if ssid is not none %}&ssid={{ssid}}{% endif %}">{{ packet.mac }}</a></td>
            <td class='packet_field time'>{{ packet.time }}</td>
            <td class='packet_field signal'>{{ packet.signal }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div> <!-- Container -->
{% endblock %}