{% extends "base.html" %}
{% block content %}
<div class="container">
    <script src="/static/js/charts.js"></script>
    <div>
      Here are all of the detected packets
      {% if mac is not none %} for the MAC address {{mac}}{% endif %}
      {% if mac is not none and ssid is not none %} and{% endif %}
      {% if ssid is not none %} for the SSID {{ssid}}{% endif %}.
    </div>

    <div>
        <select id="ssidSelect">
            {% for _ssid in users %}
                <option value="{{ _ssid }}">{{ _ssid }}</option>
            {% endfor %}
        </select>

        <select id="macSelect">
            <option value=""></option>
            {% for _mac in macs %}
                <option value="{{ _mac }}">{{ _mac }}</option>
            {% endfor %}
        </select>

        <button id="filterButton">Filter</button>
    </div>
    <div>
        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Time');
          data.addColumn('number', 'Visitors');
          data.addRows([
          {% for hour, count in hour_count.iteritems() %}
            ['{{hour}}', {{count}}],
          {% endfor %}
          ]);

          // Set chart options
          var options = {'title':'Packet Density',
                         'width':800,
                         'height':600};

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          function selectHandler() {
            var selectedItem = chart.getSelection()[0];
            if (selectedItem) {
              var time = data.getValue(selectedItem.row, 0);
              console.log('The user selected ' + time);
            }
          }

          google.visualization.events.addListener(chart, 'select', selectHandler);
          chart.draw(data, options);
        }
        </script>
        <div id="chart_div"></canvas>
        </div>
    </div>
</div>
{% endblock %}